@import './base.css';

:root, html, body {
  background: transparent;
}

/* .title-bar {
  -webkit-app-region: drag;
  user-select: none;
} */

/* .title-bar-controls {
  -webkit-app-region: no-drag;
} */

.control-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.control-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.titlebar {
  app-region: drag;
  -webkit-app-region: drag;
}
